<h1>EDDIT</h1>
<form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
    name:<input type="text" value="<%= blog.title%>" name="blog[title]"><br>
    content: <input type="text" name="blog[body]" value="<%= blog.body%>">
    <input type="submit" value="SUBMIT">
</form>