this is a index page

<ul>
<% blogs.forEach(function(blog){ %>
        <li>
            <%= blog.title %>
            <a href="blogs/<%= blog._id%>"> Show more</a>
            <a href="blogs/<%= blog._id %>/edit"> EDIT</a>
        </li>
<% }) %>
</ul>