<div *ngIf="signUp_disp; else login_display">
    <div class="wrapper fadeInDown">
      <div id="formContent" style="padding-top: 40px">
        <!-- Tabs Titles -->

        <!-- Login Form -->
        <form>
          <input
            type="text"
            id="login"
            class="fadeIn second"
            placeholder="Full Name"
          />
          <input
            type="text"
            id="login"
            class="fadeIn second"
            placeholder="E-mail"
          />
          <input
            type="text"
            id="login"
            class="fadeIn second"
            placeholder="enter username of your choice"
          />
          <input
            type="password"
            id="password"
            class="fadeIn third"
            placeholder="password"
          />
          <input
            type="password"
            id="password"
            class="fadeIn third"
            placeholder="Re-enter password"
          />
          <input type="submit" class="fadeIn fourth" (click)="signUpSubmit()" />
        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" (click)="openLogin()"
            >Already a member? Login</a
          >
        </div>
      </div>
    </div>
  </div>
  <ng-template #login_display>
    <div class="wrapper fadeInDown">
      <div id="formContent" style="padding-top: 40px">
        <!-- Tabs Titles -->

        <!-- Login Form -->
        <form>
          <input
            type="text"
            id="login"
            class="fadeIn second"
            placeholder="E-mail"
          />

          <input
            type="password"
            id="password"
            class="fadeIn third"
            placeholder="password"
          />

          <input type="submit" class="fadeIn fourth" (click)="loginSubmit()" />
        </form>
        <!-- Remind Passowrd -->
        
      </div>
    </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; myblog.com 2020
        </p>
      </div>
      <!-- /.container -->
    </footer>
  </ng-template>